*, ::after, ::before {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Ubuntu Sans", sans-serif;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
header {
  background-color: #e6e6e6ff;
  padding: 10px 20px;
  border-bottom: 3px solid gray;
  display: flex;
  width: 100%;
  align-items: center;
}
header > div { 
  flex: 1;
}
header div:nth-of-type(2) {
  justify-items: end;
}
header ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}
header h1 {
  all: unset;
  font-size: x-large;
  font-weight: bold;
}
header li {
  font-size: large;
  font-weight: 600;
}
header ul a {
  text-decoration: none;
  color: black;
}
header ul a:hover,
header ul a:active {
  text-decoration: underline;
  color: darkslategray;
}
main {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
main a {
  text-decoration: none;
  color: inherit;
}
section {
  background-color: #f2f2f2ff;
  border-bottom: 3px solid gray;
  padding: 15px;
}
section > a > div {
  background-color: white;
  border-top: 3px solid gray;
  border-right: 3px solid gray;
  padding: 10px;
}
.section-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: end;
  gap: 15px;
  max-width:100%;
}
.section-title {
  grid-column: 1 / span 4;
}
.section-title > a:hover *,
.section-title > a:active * {
  text-decoration: underline;
  color: darkslategray;
}
.section-title * {
  display: inline-block;
}
.section-title span {
  font-size: small;
  margin-left: 0.5em;
}
img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
#section-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
#form-open {
  cursor: pointer;
}
#form-open:hover,
#form-open:active {
  text-decoration: underline;
  color: darkslategray;
}
form {
  display: none; /* Hide first load, change to Grid after p clicked. */
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto 1fr;
  gap: 15px;
}
form > fieldset {
  background-color: white;
  border-top: 3px solid gray;
  border-right: 3px solid gray;
  padding: 10px;
}
form > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
#fieldset-job {
  grid-column: 2;
  grid-row: 1 / span 3;
}
fieldset {
  display: flex;
  flex-direction: column;
  gap: 1em;
  border: none;
}
.form-question {
  display: flex;
  flex-direction: column;
}
.form-answers {
  display: flex;
  flex-direction: row;
  gap: 0.3em;
}
.submit-reset {
  background-color: #f2f2f2ff;
  font-size: large;
  padding: 0.5em;
  border-top: 1px solid gray;
  border-right: 1px solid gray;
  border-bottom: none;
  border-left: none;
  cursor: pointer;
}
.submit-reset:hover,
.submit-reset:active {
  background-color: white;
  border-top: 3px solid gray;
  border-right: 3px solid gray;
  border-bottom: none;
  border-left: none;
}
footer {
  background-color: #ecececff;
  padding: 15px;
  border-top: 3px solid gray;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
}
footer > h2 {
  grid-column: 1 / span 2;
}
footer div:nth-of-type(2) {
  margin-left: 3em;
}
footer em {
  font-style: normal;
  font-weight: bold;
}
footer blockquote {
  margin-bottom: 0.5em;
  font-size: large;
  font-weight: 600;
}
.no-break {
  white-space: nowrap;
}
footer a {
  text-decoration: none;
  color: inherit;
}
footer a:hover,
footer a:active {
  text-decoration: underline;
  color: darkslategray;
}
